@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style-type: none;
}

html,
body {
	background: rgba(247, 248, 250, 1);
	font-family: 'Nunito', sans-serif;

	width: 100%;
	height: 100vh;
}

.layout_container {
	display: flex;
	height: 100%;
	width: 100%;
}
.container {
	max-width: 1520px;

	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 48px;

	@media (max-width: 525px) {
		display: grid;
		// width: 100%;
		// height: 100%;
		height: 200px;
		width: 200px;
	}
}

.content {
	display: flex;

	justify-content: space-between;
	height: 100%;
	width: 100%;

	gap: 16px;

	.basic {
		// background: red;
		max-width: 1008px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 54px;
	}

	.add_panel {
		// background: blue;
		max-width: 496px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		@media (max-width: 1024px) {
			img {
				display: none;
			}
		}
	}
	.standart {
		max-width: 1008px;
		width: 100%;
		display: grid;
		h4 {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 1540px) {
		gap: 8px;

		.basic {
			max-width: 832px;
			width: 100%;
		}

		.add_panel {
			max-width: 416px;
		}
	}

	@media (max-width: 1024px) {
		.basic {
			max-width: 420px;
		}

		.add_panel {
			max-width: 420px;
		}
	}

	@media (max-width: 425px) {
		flex-direction: column;

		.basic {
			width: 100%;
		}

		.add_panel {
			width: 100%;
		}
	}
}

main {
	width: 100%;
	border-top-left-radius: 6px;
	background-color: #fff;
	padding-inline: 30px;
	padding-top: 35px;

	@media (max-width: 1540px) {
		padding-inline: 25px;
		padding-top: 35px;
	}

	@media (max-width: 1024px) {
		padding-inline: 20px;
		padding-top: 25px;
	}

	@media (max-width: 768px) {
		padding-inline: 15px;
		padding-top: 20px;
	}

	@media (max-width: 426px) {
		padding: 0;
		margin: 0;
	}
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 54px;
	font-weight: 500;
}

h4 {
	font-size: 36px;
	font-weight: 500;
}

h5 {
	font-size: 28px;
	font-weight: 500;
}

h6 {
	font-size: 24px;
	font-weight: 500;
}

text {
	font-size: 18px;
	font-weight: 400;
}

p {
	font-size: 14px;
	font-weight: 400;
}

.btn {
	background: rgba(80, 209, 119, 1);
	border: rgba(80, 209, 119, 1) 1px solid;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px;
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	gap: 6px;
	transition: 0.2s ease;

	path {
		transition: 0.2s ease;
		stroke: #fff;
	}
	&:hover {
		background: #46a462;
		color: #ededed;
		path {
			stroke: #ededed;
		}
	}
}
textarea {
	background: #f3f3f3;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 12px;
	max-width: 514px;
	width: 100%;
	height: 124px;
	&:focus {
		color: black;
	}
}

.btn_border {
	background: none;
	border: 1px solid rgba(80, 209, 119, 1);
	border-radius: 30px;

	font-size: 16px;
	color: rgba(80, 209, 119, 1);

	display: flex;
	align-items: center;
	gap: 6px;
	padding: 4px 8px;
	transition: 0.2s ease;
	svg {
		path {
			transform: scale(0.9);
			stroke: rgba(80, 209, 119, 1);
			transition: 0.2s ease;
		}
	}

	&_active,
	&:hover {
		background: #50d177;
		color: #fff;

		border: none;
		display: flex;
		align-items: center;
		padding: 4px 8px;
		border-radius: 30px;
		gap: 6px;
		font-size: 16px;
		// margin-left: 10px;
		transition: 0.2s ease;
		svg {
			path {
				stroke: #fff;
			}
		}
		&:hover {
			background: #50c172;
		}
	}
	@media (max-width: 1540px) {
		font-size: 14px;
		padding: 2px 8px;
	}
}

@media (max-width: 1540px) {
	h2 {
		font-size: 40px;
	}

	h4 {
		font-size: 30px;
		font-weight: 500;
	}

	h5 {
		font-size: 24px;
		font-weight: 500;
	}

	h6 {
		font-size: 20px;
		font-weight: 500;
	}

	text {
		font-size: 16px;
		font-weight: 400;
	}

	p {
		font-size: 12px;
		font-weight: 400;
	}
}
input {
	max-width: 514px;
	width: 100%;
	padding: 8px;
	font-size: 18px;
	color: #a0a0a0;
	border: none;
	outline: none;
	background: #e6e6e6;
	&:focus {
		color: black;
		opacity: 100%;
	}
}
select {
	width: 100%;
	max-width: 514px;
	background: #e6e6e6;
	border: none;
	outline: none;
	padding: 12px;
	font-size: 18px;
}
@media (max-width: 1280px) {
	h2 {
		font-size: 36px;
	}

	h4 {
		font-size: 26px;
		font-weight: 500;
	}

	h5 {
		font-size: 22px;
		font-weight: 500;
	}

	h6 {
		font-size: 18px;
		font-weight: 500;
	}

	text {
		font-size: 12px;
		font-weight: 400;
	}

	p {
		font-size: 10px;
		font-weight: 400;
	}
}

@media (max-width: 1024px) {
	h2 {
		font-size: 32px;
	}

	h4 {
		font-size: 22px;
		font-weight: 500;
	}

	h5 {
		font-size: 20px;
		font-weight: 500;
	}

	h6 {
		font-size: 16px;
		font-weight: 500;
	}

	text {
		font-size: 12px;
		font-weight: 400;
	}

	p {
		font-size: 8px;
		font-weight: 400;
	}
}

@media (max-width: 520px) {
	h2 {
		font-size: 28px;
	}

	h4 {
		font-size: 20px;
		font-weight: 500;
	}

	h5 {
		font-size: 18px;
		font-weight: 500;
	}

	h6 {
		font-size: 16px;
		font-weight: 500;
	}

	text {
		font-size: 12px;
		font-weight: 400;
	}

	p {
		font-size: 8px;
		font-weight: 400;
	}
}

.active {
	border: #50d177 2px solid;
	border-radius: 30px;
}
