.profile {
	&_head {
		display: flex;
		align-items: center;
		gap: 16px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 30px;
	}
	&_language,
	&_save {
		display: flex;
		gap: 8px;
		margin-top: 8px;
	}
	&_save {
		justify-content: space-between;
	}
	&_data,
	&_references,
	&_setting {
		display: grid;
		gap: 16px;
		background: #f7f8fa;
		padding: 26px 24px;
		p {
			margin-block: 8px;
			color: #a0a0a0;
			font-weight: 400;
		}
	}
	&_setting {
		margin-bottom: 40px;
	}
}
